<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<base th:replace="~{base/layout :: head/content()}">

<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/css/fileinput.min.css"
	media="all" rel="stylesheet" type="text/css" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/fileinput.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/locales/es.js"></script>

</head>
<body>


	<nav th:replace="base/layout :: nav"></nav>

	<div class="container">
		<div th:replace="base/layout :: #alertMessages"></div>
		<div class="row">
			<div class="col-12 col-lg-6">
				<table class="table table-hover">
					<tr>
						<td>Nombre</td>
						<td>[[ ${pet.name} ]]</td>
					</tr>
					<tr>
						<td>Tipo</td>
						<td>[[ #{${'pet.types.' + pet.type}} ]]</td>
					</tr>
					<tr>
						<td>Edad</td>
						<td>[[ #{${'pet.ageCategories.' + pet.ageCategory}} ]]</td>
					</tr>
					<tr>
						<td>Género</td>
						<td>[[ #{${'genders.' + pet.gender}} ]]</td>
					</tr>
					<tr>
						<td>Tamaño</td>
						<td>[[ #{${'pet.sizeCategories.' + pet.sizeCategory}} ]]</td>
					</tr>
					<tr>
						<td>Comuna</td>
						<td>[[ ${pet.location.nombre} ]]</td>
					</tr>
					<tr>
						<td>Publicado por</td>
						<td>[[ ${pet.owner.organization.name} ]]</td>
					</tr>
					<tr>
						<td>Descripción</td>
						<td>[[ ${pet.description} ]]</td>
					</tr>
				</table>
				<div class="center-block" th:if="${canUploadPhotos}">
					<h5>Subir una foto de [[ ${pet.name} ]]</h5>
					<form method="post" enctype="multipart/form-data"
						th:action="@{${'/mascotas/' + pet.id + '/fotos'}}">
						<input type="file" accept="image/*" name="file" id="photo"
							class="file" data-language="es" />
					</form>
				</div>
			</div>
			<div class="col-12 col-lg-3 offset-lg-1 col-xl-4 align-self-center">
				<div id="carousel" class="carousel slide" data-ride="carousel"
					th:if="${originalPhotos.size() > 0}">
					<div class="carousel-inner">
						<div class="carousel-item"
							th:classappend="${iter.first}? 'active'"
							th:each="url, iter : ${originalPhotos}">
							<img class="d-blockw w-100" th:src="@{${url}}"
								th:alt="${'Foto de ' + pet.name}">
						</div>
					</div>
					<a class="carousel-control-prev" href="#carousel" role="button"
						data-slide="prev"> <span class="carousel-control-prev-icon"
						aria-hidden="true"></span> <span class="sr-only">Anterior</span>
					</a> <a class="carousel-control-next" href="#carousel" role="button"
						data-slide="next"> <span class="carousel-control-next-icon"
						aria-hidden="true"></span> <span class="sr-only">Siguiente</span>
					</a>
				</div>
			</div>
		</div>

	</div>

	<footer th:replace="~{ base/layout :: footer}"></footer>

</body>
</html>
