<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<base th:replace="~{base/layout :: head/content()}">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.5/dist/css/lightgallery.min.css">
	<script src="https://cdn.jsdelivr.net/npm/lightgallery@1.6.5/dist/js/lightgallery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lightgallery@1.6.5/modules/lg-fullscreen.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lightgallery@1.6.5/modules/lg-thumbnail.min.js"></script>
	
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/fileinput.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/locales/es.js"></script>
	
</head>
<body>


	<nav th:replace="base/layout :: nav"></nav>

	<div class="container">
		<div class="row">
			<div id="gallery">
				<a th:each="num : ${#numbers.sequence(0, photos-1)}" 
					th:if="${photos > 0}"
					th:href="@{${petPhotoHome + num + '/original'}}">
					<img class="img-rounded img-thumbnail" th:alt="${'Foto de ' + pet.name}" th:src="@{${petPhotoHome + num + '/thumb'}}">
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
			<table class="table table-hover">
				<tr>
					<td>Nombre</td><td>[[ ${pet.name} ]]</td>
				</tr>
				<tr>
					<td>Tipo</td><td>[[ #{${'pet.types.' + pet.type}} ]]</td>
				</tr>
				<tr>
					<td>Edad</td><td>[[ #{${'pet.ageCategories.' + pet.ageCategory}} ]]</td>
				</tr>
				<tr>
					<td>Género</td><td>[[ #{${'genders.' + pet.gender}} ]]</td>
				</tr>
				<tr>
					<td>Tamaño</td><td>[[ #{${'pet.sizeCategories.' + pet.sizeCategory}} ]]</td>
				</tr>
				<tr>
					<td>Comuna</td><td>[[ ${pet.location.nombre} ]]</td>
				</tr>
				<tr>
					<td>Publicado por</td><td>[[ ${pet.owner.organization.name} ]]</td>
				</tr>
			</table>
			</div>
			<div class="col-sm-3">
				<div class="center-block">
					<h3>Subir una foto de [[ ${pet.name} ]]</h3>
					<form method="post" enctype="multipart/form-data" th:action="@{${'/mascotas/' + pet.id + '/fotos'}}">
						<input type="file" accept="image/*" name="file" id="photo" class="file" data-language="es"/>
					</form>
				</div>
			</div>
		</div>
		
		

		<script type="text/javascript">
		    $(document).ready(function() {
		        $("#gallery").lightGallery(); 
		    });
		</script>
		
	</div>
	
	<footer th:replace="~{ base/layout :: footer}"></footer>
	
</body>
</html>
