<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/layout :: head"/>
<body>
  <nav th:replace="base/layout :: nav"></nav>
  
  <div class="container">
    <div class="row">

		<p th:text="#{create.success}">
		Su cuenta fue creada. En pocos minutos recibirá un correo con instrucciones para validar su cuenta y poder usarla.
		</p>
		<p><a th:href="@{/}" th:text="#{create.gohome}">Ir al inicio</a></p> 

  </div>
  </div>
</body>
</html>
