{% extends "/templates/base/base.twig" %}

{% block body %}
<p>
Su cuenta fue creada. En pocos minutos recibirá un correo con instrucciones para validar su cuenta y poder usarla.
</p>
<p><a href="{{ path("/") }}"Ir al inicio</a></p> 

{% endblock %}
