<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${subject}">Subject</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>
¡Hola [[${newUser.displayName}]]!
</h1>

<p>
¡Bienvenido a Adopciones.cl!
</p>
<p>
¡Recuerda visitarnos cuando puedas!
Recomiéndanos a tus amigos para poder encontrar hogar a miles de animalitos que están esperando
poder entregar todo su cariño a alguna familia que los acoja.
</p>

</body>
</html>
