<!DOCTYPE HTML>
<html>
<head>
    <title>{{ subject }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>
¡Hola {{ newUser.displayName }}!
</p>
<p>
¡Bienvenido a TemplateApp!
</p>
<p>
Para habilitar tu cuenta has <a href="{{ validationUrl }}">click aquí</a> o copia/pega la siguiente URL en tu navegador.
</p>
<pre>
{{ validationUrl }}
</pre>
</body>
</html>
