<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${subject}">Subject</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{registration.email.greeting(${newUser.displayName})}">
¡Hola {{ newUser.displayName }}!
</p>
<p th:text="#{registration.email.welcome}">
¡Bienvenido a TemplateApp!
</p>
<p>
	<span th:text="#{registration.email.instructions}">Así se valida</span>
	<a th:href="@{${validationUrl}}">
	<span th:text="#{registration.email.link}"></span>
	</a>
</p>

<pre th:text="${validationUrl}">
Aquí va la URL
</pre>

</body>
</html>
