<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/layout :: head" />
<body>
	<nav th:replace="base/layout :: nav"></nav>

	<div class="container">
		<div class="row">
			<div class="jumbotron">
				<h1>¡Bienvenido!</h1>
				<p>Cientos de mascotas esperan encontrar un hogar...</p>

			</div>
		</div>

		<form method="get" id="petSearchForm" th:action="@{/busqueda}">
			<div class="col-sm-8 col-sm-offset-2">
				<!-- div class="form-group">
					<label th:for="name">Nombre:</label> <input class="form-control"
						type="text" id="name" name="name" placeholder="Nombre de la mascota" />
				</div -->

				<div class="form-group">
					<label>Tipo de mascota:</label>
					<label class="checkbox-inline" th:each="type : ${petTypes}">
						<input type="checkbox" name="type" th:value="${type}" checked="checked">
						[[ #{${'pet.types.' + type}} ]]
					</label> 
				</div>

				<div class="form-group">
					<label>Edad:</label> 
					<label class="checkbox-inline" th:each="age : ${petAgeCategories}">
						<input type="checkbox" name="ageCategory" th:value="${age}" checked="checked">
						[[ #{${'pet.ageCategories.' + age}} ]]
					</label>
				</div>

				<div class="form-group">
					<label>Tamaño:</label> 
					<label class="checkbox-inline" th:each="size : ${petSizeCategories}">
						<input type="checkbox" name="sizeCategory" th:value="${size}" checked="checked">
						[[ #{${'pet.sizeCategories.' + size}} ]]
					</label>
				</div>
				
				<div class="form-group">
					<label>Género:</label>
					<label class="checkbox-inline" th:each="gender : ${genders}">
						<input type="checkbox" name="gender" th:value="${gender}" checked="checked">
						[[ #{${'genders.' + gender}} ]]
					</label>
				</div>
				
				<div class="form-group">
					<label for="region">Región:</label>
					<select name="region" id="region">
						<option value="">Cualquier región</option>
						<option th:each="region: ${regiones}" th:value="${region.name()}">
							[[ ${region.nombre} ]]
						</option>
					</select>
				</div>
				
				<div class="form-group">
					<label for="provincia">Provincia:</label>
					<select name="provincia" id="provincia">
						<option value="">Seleccione región</option>
					</select>
				</div>
	
				<div class="form-group">
					<label for="comuna">Comuna:</label>
					<select name="comuna" id="comuna">
						<option value="">Seleccione comuna</option>
					</select>
				</div>

				<button class="btn btn-default" type="submit">Buscar</button>
			</div>
		</form>

		<script type="text/javascript">
		var resetProvincias = function() {
			$("#provincia option").remove();
		    $("#provincia").append(
		            $("<option></option>")
		                .text('Cualquier provincia')
		                .val('')
		        );
		};
		
		var resetComunas = function() {
			$("#comuna option").remove();
		    $("#comuna").append(
		            $("<option></option>")
		                .text('Cualquier comuna')
		                .val('')
		        );
		};
		
		$('#region').change(function() {
			var region = $('#region option:selected').val();
		    resetProvincias();
		    resetComunas();

		    if(region == '') return;
			
			$.getJSON("/geo/" + region, null, function(data) {
			    $.each(data, function(key, val) {
			        $("#provincia").append(
			            $("<option></option>")
			                .text(val)
			                .val(key)
			        );
			    });
			});
		});
		
		$('#provincia').change(function() {
			var region = $('#region option:selected').val();
			var provincia = $('#provincia option:selected').val();
		    resetComunas();

		    if(region == '' || provincia == '') return;
			
			$.getJSON("/geo/" + region + '/' + provincia, null, function(data) {
			    $.each(data, function(key, val) {
			        $("#comuna").append(
			            $("<option></option>")
			                .text(val)
			                .val(key)
			        );
			    });
			});
		});
		</script>
	</div>
</body>
</html>
