<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/layout :: head"/>
<body>
  <nav th:replace="base/layout :: nav"></nav>
  
  <div class="container">
    <div class="row">
	    <div class="jumbotron" th:unless="${currentUser}">
	      <h1>¡Bienvenido!</h1>
	      <p>Cientos de mascotas esperan encontrar un hogar...</p>
	      <p><a class="btn btn-primary btn-lg" th:href="@{/users}" role="button">Regístrate</a></p>
	    </div>
    </div>
  </div>
</body>
</html>
