<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/layout :: head"/>
<body>
  <nav th:replace="base/layout :: nav"/>
  
  <div class="container">
    <div class="row">
	    <div class="jumbotron">
	      <h1 th:text="#{home.join}">¡Únete!</h1>
	      <p th:text="#{home.description}">Te va a encantar...</p>
	      <p><a class="btn btn-primary btn-lg" th:href="@{/users}" role="button" th:text="#{home.signup}">Regístrate</a></p>
	    </div>
    </div>
  </div>
</body>
</html>
