<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/layout :: head" />
<body>
	<nav th:replace="base/layout :: nav"></nav>

	<div class="container">
		<div th:replace="base/layout :: #alertMessages"></div>
		<h1>Organizaciones Rescatistas</h1>
		<p>En Adopciones.cl las organizaciones rescatistas son
			fundamentales. Ellos son los que hacen toda la gestión relacionada
			con la adopción de una mascota. Entre nuestros colaboradores con más
			actividad están:</p>

		<h2>Encontré una mascota abandonada</h2>
		<p>Contacte a la organización rescatista más cercana para publicar
			aquí...</p>

	</div>

	<footer th:replace="~{ base/layout :: footer}"></footer>

</body>
</html>
